*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #F7F7EE;
    position: relative;
}

.page1 i{
    color: #535D41;
    font-size: 2vw;
    position: absolute;
    top: 4%;
    left: 6%;
    z-index: 1;
}
#but1{
    font-size: 1.1vw;
    padding: 0.6vw;
    border-radius: 50px;
    background-color: #F7F7EE;
    color: #535D41;
    z-index: 1;
    position: absolute;
    top: 4%;
    right: 13%;
}
#but2{
    font-size: 1.1vw;
    padding: 0.6vw;
    border-radius: 50px;
    background-color: #535D41;
    color: #F7F7EE;
    z-index: 1;
    position: absolute;
    top: 4%;
    right: 5%;
}

.page1 h1{
    font-size: 4.5vw;
    color: #535D41;
    position: absolute;
    top: 10%;
    left: 38%;
    font-weight: 500;
    z-index: 1;
}
.page1 h3{
    position: absolute;
    top: 19%;
    left: 47%;
    z-index: 1;
    font-size: 1.5vw;
    color:#535D41;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.page1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #535D41;
    padding: 5vw;
}
.page2 h1{
    color: #434B34;
    font-size: 4.5vw;
    text-align: center;
    font-weight: 400;
    line-height: 4.5vw;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #F7F7EE;
}
